﻿
@{
    ViewData["Title"] = "Index";
}

<center>
    <div class="col-sm-6" style="margin-top:15%">
        <form asp-controller="Books" asp-action="Logon">
            <div class="card">
                <div class="card-header">
                    <h1>Login</h1>
                </div>
                <div class="card-body">
                    <label class="float-left">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="admin"  />
                    <label class="float-left">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="admin" />
                </div>
                <div class="card-footer">
                    <button type="submit" id="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</center>

