﻿@model IEnumerable<WorkShop.Models.Book>


@{
    ViewData["Title"] = "Index";
}
    <div class="row">
        <div class="col-5">
            <form method="post" asp-controller="Books" asp-action="Index">
                <div>
                    <input type="search" name="search" class="form-check" placeholder="Search">
                    
                </div>
            </form>
        </div>
        <div class="col-2">
            <center>
                <p>
                    <a asp-action="Create"><img src="../Image/plusicon.png" width="14" height="14"  /> Create New</a>
                </p>
            </center>
        </div>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
